.gs__widget__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 30.5rem;
  padding: 1rem;
  position: relative;
  z-index: 100;
  cursor: pointer;
  user-select: none;
}

.gs__widget__test__img {
  width: 20rem;
  height: auto;
  object-fit: contain;
}

.gs__widget__heading {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #252525;
  margin: 1.5rem 0;
}

.gs__widget__content {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #252525;
}

.gs__module__popup__wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1d5dbb3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show__fullScreen {
  z-index: 9999;
}

.hide__fullScreen {
  display: none;
  z-index: -9999;
}

.gs__module__popup {
  background-color: #f9fafb;
  width: 60%;
  max-height: 90%;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.gs__widget__widget__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0 0;
}

.gs__widget__widget__footer__text {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  text-decoration: underline;
}

.gs__widget__widget__footer__img {
  height: 2rem;
  width: auto;
  object-fit: contain;
}

.gs__module__popup__values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  margin: 1.5rem;
  font-weight: 500;
}

.gs__module__popup__close__btn {
  margin: 1.5rem 1.5rem 1.5rem auto;
  font-size: 2rem;
  color: #252525;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
